# Optional: use only in prod or with DNS pointing to localhost via hosts file
chat.localhost {
  encode zstd gzip
  tls internal

  @websocket {
    header Connection *Upgrade*
    header Upgrade websocket
  }

  reverse_proxy /api/v4/websocket app:8065
  reverse_proxy app:8065
}
